{% extends 'base.html' %}

{% block title %}
        Diễn viên: {{ actor.name }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ actor.image }}" width="80%" height="350px">
            </div>
            <div class="col-sm-8">
                <h1>{{ actor }}</h1>
                <h4>Sinh năm {{ actor.date_of_birth }} tại {{ actor.country }}</h4>
                <h4>Chiều cao: {{ actor.height }} </h4>
                <h4>Sở trường: {{ actor.good_point }} </h4>
                <h4>Sở thích: {{ actor.like_point }}   </h4>
                <h4>
                    Các thể loại:
                    {% for genre in actor.genre.all %}
                        <a href="{% url 'genre' genre.id %}">{{ genre.name }}</a>
                        {% if genre != actor.genre.all.last %}, {% endif %}
                    {% endfor %}
                </h4>
            </div>
        </div>
        <br>
        <br>
        <h2>Phim do {{ actor.name }} đóng: </h2>
        <div class="grid-container">
        {% for film in list_film %}
            <div class="grid-item">
                <center>
                    <a href="{% url 'film' film.id %}"><img src="{{ film.image }}" class="custom-center" height="300px" width="230px"></a>
                    <a href="{% url 'film' film.id %}"><h4 style="width: 250px;">{{ film.name }}</h4></a>
                </center>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}