{% extends 'base.html' %}

{% block title %}
    Thể loại: {{ genre.name }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ genre.image }}" width="80%" height="350px">
            </div>
            <div class="col-sm-8">
                <h1>{{ genre }}</h1>
                <h4><strong>Chi tiết thể loại {{ genre.name.lower }}:</strong></h4>
                <p>{{ genre.description|linebreaks }}</p>
            </div>
        </div>
        <br>
        <br>
        <h2>Những bộ phim thuộc thể loại {{ genre.name.lower }}: </h2>
        <div class="grid-container">
        {% for film in list_film %}
            <div class="grid-item">
                <center>
                    <a href="{% url 'film' film.id %}"><img src="{{ film.image }}" class="custom-center" height="300px" width="230px"></a>
                    <a href="{% url 'film' film.id %}"><h4 style="width: 250px;">{{ film.name }}</h4></a>
                </center>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}