{% extends 'base.html' %}

{% block title %}
    Trang chủ
{% endblock %}

{% block header %}
    <form class="navbar-form navbar-right" action="" method="get">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Tên phim" name="search">
        </div>
        <button type="submit" class="btn btn-default">Tìm kiếm</button>
    </form>
    <br>
    Phim đề cử
    <br>
{% endblock %}

{% block content %}
    <div class="grid-container">
        {% for film in list_film %}
            <div class="grid-item">
                <center>
                    <a href="{% url 'film' film.id %}"><img src="{{ film.image }}" class="custom-center" height="300px" width="230px"></a>
                    <a href="{% url 'film' film.id %}"><h4 style="width: 250px;">{{ film.name }}</h4></a>
                </center>
            </div>
        {% endfor %}
    </div>
{% endblock %}
