<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
    .grid-container {
          display: grid;
          grid-template-columns: auto auto auto auto;
          background-color: white;
          padding: 10px;
    }
    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">Trang chủ</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'help' %}">Trợ giúp</a></li>
                <li><a href="{% url 'about_me' %}">Thông tin</a></li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'my_account' %}"><span class="glyphicon glyphicon-user"></span> {{ user.first_name }} {{ user.last_name }}</a></li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Đăng xuất</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Đăng kí</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h1>
                {% block header %}
            </h1>
            <hr>
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-sm-1"></div>
    </div>
</body>
</html>